<h1>{{name}}</h1>
<!-- Day 1,2,3,4,5 -->
<!-- <hello *ngIf="user.age >=18;else under18" [name]="user.name"></hello>
<ng-template #under18>
    <div>
        <h1>Bạn chưa đủ tuổi</h1>
    </div>
</ng-template>
<p>Name: {{user.name}}</p>
<p>Age: {{user.age}}</p>

<input type="text" [value]="user.name" [(ngModel)]="user.name" />
<button type="button" id="btnclick" (click)="hander()">ClickMe</button> <br>
<button (click)="user.age = user.age -1">&lt;</button>
Age: {{user.age}}
<button (click)="user.age = user.age +1">&gt;</button>
<ng-for-comp></ng-for-comp> -->

<!-- Day6 -->
<!-- <app-day6> -->

<!-- Day 7  -->
<!-- <app-day7></app-day7>
<br>
<button (click)="currentProgress = currentProgress +1"> click</button>
<app-day7 [progress]="currentProgress" [progressColor]="'dodgerblue'"></app-day7> -->

<!-- Day 8 -->
<!-- <app-day8></app-day8> -->

<!-- Day 9 -->
<app-day9></app-day9>